*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #7aaec1;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

iframe{
  margin-top: 400px;
}