*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #7aaec1;
  /* max-height: 200vh;  */
  display: flex;
  justify-content: center;
  align-items: center;
}

iframe{
  height: 190vh;
} 

@media (max-width:500px) {
  iframe{
    height: 100vh;
  }
}

@media (max-width:1100px) and (min-width:499px){
  iframe{
    height: 100vh;
  }
}
